<%= render "shared/header" %>
<h2>this is groups#show</h2>
<div style="border: 1px solid black;">
タイトル：<%= @group.title %><br>
開始時刻：<%= @group.start_date %><br>
終了時刻：<%= @group.end_date %><br>
参加締め切り：<%= @group.deadline_date %><br>
参加上限人数：<%= @group.max_num_of_people %>人<br>
詳細：<%= @group.details %><br>

<% if @user_group_relation %>
<%= link_to "辞退", group_user_group_relation_path(@group.id), method: :delete %><br>
<% else %>
<%= link_to "参加", group_user_group_relations_path(@group.id), method: :post %><br>
<% end %>


<%= link_to "削除", group_path(@group.id), method: :delete %>
</div>
<%= form_with model: @comment, url: group_comments_path(@group.id), method: :post, local: true do |f| %>
<div class="field">
<%= f.text_area :content %>
<%= f.submit "送信" %>
</div>
<% end %>
<% @comments.each do |comment| %>
<%= comment.content %>:<%= link_to "削除", group_comment_path(@group.id, comment.id), method: :delete %><br>
<% end %>
<%= link_to "グループ編集", edit_group_path(@group.id) %>
<%= link_to "トップへ", root_path %>
<%= render "shared/footer" %>